menu "Commands"

config ALLHELP
	bool "Include all online help"
	default y
	depends on SMALL=n
	help
	  Setting this option will include all help text for APEX commands.

config ALPHABETIZE_COMMANDS
       bool "Sort commands alphabetically in help"
       default y
       depends on SMALL=n
       help
         Setting this option will sort alphabetically the commands
         shown in the help listing.  This option makes it easier to
         browse the help text.  It forces the inclusion of sort
         function, so it is automatically disabled when the SMALL
         configuration option is set.
 
config DEL_IS_BS
	bool "Use DEL as alias for Backspace"
	depends on !SMALL
	default y
	help
	  Some folks use a terminal program that insists that the
	  Backspace key send a DEL character.  This option allows them
	  to maintain this assumption.  It is best to leave this
	  option 'N' and fix your terminal program. 

config ANSI_KEYS
	bool "Interpret ANSI key sequences"
	depends on !SMALL
	default y
	help
	  Enables interpretation of some ANSI key sequences.
	 
config COMMAND_HISTORY
	bool "Command History"
	depends on !SMALL
	default y
	help
	  This option enables command history recall.  Use ^P and ^N
	  or the up and down arrow keys, when ANSI_KEYS is enabled, to
	  scroll through the previously entered commands.

config COMMAND_EDITING
	bool "Command Editing"
	depends on !SMALL
	default y
	help
	  This option enables in-place command editing using Emacs key
	  bindings.  Arrow keys move among the characters of the
	  command, typing inserts, and delete keys delete in the
	  middle of the command string.  See the on-line help for a
	  description of the available key sequences.

config CMD_ALIAS
        bool "Define Alias Commands"
	default y
	help
	  Aliases are a lighter-weight form of environment-like variable.
	  Aliases are not saved to flash and nor are they limited to
	  pre-defined keys as environment variables are.

config CMD_CHECKSUM
	bool "Define Checksum Region Command"
	default y
	help
	  Computes a CCITT CRC32 checksum over a region.

config CMD_COPY
	bool "Define Copy Regions Command"
	default y
	help
	  Copies from one region to another.

config CMD_COMPARE
	bool "Define Compare Regions Command"
	default y

config CMD_DRVINFO
	bool "Define Driver Info Command"
	default y
	help
	  Informational command that reports the status of APEX
	  drivers and services.  This is a good command to omit when
	  trying to make APEX small.

config CMD_DUMP
	bool "Define Dump Region Command"
	default y
	help
	  Shows the contents of a region on the console.

config CMD_ENV
	bool "Define Environment Commands"
	default y

config CMD_ERASEENV
	bool "Define Erase Environment Command"
	depends on CMD_ENV=y && ENV_MUTABLE=y
	default n
	help
	  Experimental feature that allows safe, complete erasure of
	  the environment.

config CMD_SETENV
	bool "Define Set/unset Environment Variable Commands"
	depends on CMD_ENV=y && ENV_MUTABLE=y
	default y

config CMD_ERASE
	bool "Define Erase Region Command"
	default y

config CMD_FILL
	bool "Define Fill Region Command"
	default y

config CMD_GO
	bool "Define Go Command"
	default y
	help
	  Allows transfer of execution to any memory address.

config CMD_INFO
	bool "Define Info Command"
	default y
	help
	  Show information about a region descriptor.  Use this command
	  to list the contents of a filesystem directory.

config CMD_PAUSE
	bool "Define Pause Command"
	default n

config CMD_WAIT
	bool "Define Wait Command"
	default y

config CMD_XRECEIVE
	bool "Define Xmodem Receive Command"
	default y

config CMD_EMAC_LH79524
	bool "Define LH79524/5 Ethernet MAC Command" 
	depends on DRIVER_EMAC_LH79524
	default y
	help
	  Commands to configure the built-in MAC of the LH79524 and
	  LH79525.  

config CMD_EMAC_LH79524_DIAG
	bool "Define LH79524 Ethernet MAC Diagnostics"
	depends on CMD_EMAC_LH79524
	default n
	help
	  Enable this option to add diagnostic sub-commands to the
	  emac command.  It adds a lot of code to APEX, so leave it
	  out unless you are sure you need it.

config CMD_ETH_SMC91X
	bool "Define SMC91x diagnostic commands"
	depends on DRIVER_SMC91X
	default n

config CMD_ETH_DM9000
	bool "Define DM9000 diagnostic commands"
	depends on USES_DM9000
	default n

config CMD_MEMLIMIT
	bool "Define Memlimit Command"
	default n
	help
	  This command constrains amount of RAM available to Linux
	  kernel.  It is useful for testing how the kernel
	  responds to a limited memory resource.

config CMD_CLCDC_SPLASH
	bool "Define CLCDC Splash sub-command"
	depends on DRIVER_LH_CLCDC
	default y
	help
	  This sub-command draws an image into the LCD frame buffer.

config CMD_CLCDC_TEST
	bool "Define CLCDC test sub-commands"
	depends on DRIVER_LH_CLCDC
	default n
	help
	  These sub-commands help with testing the CLCDC controller.

config CMD_ARM920_TEST
	bool "Define ARM920 CPU test sub-commands"
	depends on CPU_ARM920T || CPU_ARM922T
	default n
	help
	  These sub-commands allow for changes to the CP15 test
	  registers.

endmenu
