if ARCH_LH7A40X

choice
	prompt "LH7A40X Implementations"
	default MACH_LPD7A404

config MACH_LPD7A400
	bool "Logic Product Development LPD7A400"
	select ARCH_LH7A400
	select MACH_LPD7A40X
	select USES_NOR_CFI
	select USES_COMPACTFLASH
	select USES_NOR_BOOTFLASH
	select USES_SMC91X
	select DRIVERS_LH
	select HAS_LH_CLCDC

config MACH_LPD7A404
	bool "Logic Product Development LPD7A404"
	select ARCH_LH7A404
	select MACH_LPD7A40X
	select USES_NOR_CFI
	select USES_COMPACTFLASH
	select USES_NOR_BOOTFLASH
	select HAS_LH_ADC
	select USES_SMC91X
	select HAS_LH_CLCDC
	select DRIVERS_LH

config MACH_TROUNCER
	bool "Interalia TROUNCER"
	select ARCH_LH7A404
	select USES_NOR_CFI
	select USES_COMPACTFLASH
	select USES_NOR_BOOTFLASH
	select HAS_LH_ADC
	select HAS_LH_MMC
	select DRIVERS_LH

endchoice

menu "Platform Setup"

config ATAG_PHYS
	hex "Physical address for ATAGs list"
	default "0xc0000100"
	depends on ATAG
	help
	  This is the address where APEX will construct the ATAG list
	  before starting the Linux kernel.  This address should be
	  within the first 16KiB of physical RAM.  Don't change this
	  value unless you know what you are doing. 

config ARCH_NUMBER_FUNCTION
	string
	default "determine_arch_number"

config APEX_VMA
	hex "APEX Runtime Address"
	default "0xc0200000"

config KERNEL_LMA
	hex "Kernel Load Address"
	default "0xc0008000"

config SDRAM_BANK0
	bool "Enable SDRAM Bank 0"
	default y

config SDRAM_BANK1
	bool "Enable SDRAM Bank 1"
	depends on SDRAM_BANK0
	default n 

config SDRAM_CONTIGUOUS
	bool "Initialize SDRAM to be contiguous"
	depends on SDRAM_BANK0
	default n
	help
	  This option initializes the SDRAM controller to map each
	  SDRAM into a contiguous bank, SROMLL.  Normally, SDRAM is
	  sparse in the address space.  Linux does not need this
	  option, but Windows/CE does.  Do not set this option unless
	  you know what you are doing.

endmenu

menu "Platform Drivers"

config CODEC
	bool "Audio Codec"
	default n
	help
	  This driver includes commands to initialize and test the
	  AC97 link and associated codec.

	  You will not be able to use this code without first creating
	  PCM test data.  It's best to leave this option disabled.

endmenu

config MACH
	string
	default "lh7a40x"

config ARCH_LH7A400
	bool
	select CPU_ARMV4
	select CPU_ARM9
	select CPU_ARM920T

config ARCH_LH7A404
	bool
	select CPU_ARMV4
	select CPU_ARM9
	select CPU_ARM920T

config MACH_LPD7A40X
	bool

endif

