if ARCH_LH7A40X

choice
	prompt "LH7A40X Implementations"
	default MACH_LPD7A404

config MACH_LPD7A400
	bool "Logic Product Development LPD7A400"
	select ARCH_LH7A400
	select MACH_LPD7A40X
	select USES_NOR_CFI
	select USES_COMPACTFLASH
	select USES_NOR_BOOTFLASH
	select USES_SMC91X
	select DRIVERS_LH

config MACH_LPD7A404
	bool "Logic Product Development LPD7A404"
	select ARCH_LH7A404
	select MACH_LPD7A40X
	select USES_NOR_CFI
	select USES_COMPACTFLASH
	select USES_NOR_BOOTFLASH
	select HAS_LH_ADC
	select USES_SMC91X
	select DRIVERS_LH

endchoice

menu "Platform Setup"

config ATAG_PHYS
	hex "Physical address for ATAGs list"
	default "0xc0000100"
	depends on ATAG
	help
	  This is the address where APEX will construct the ATAG list
	  before starting the Linux kernel.  This address should be
	  within the first 16KiB of physical RAM.  Don't change this
	  value unless you know what you are doing. 

config ARCH_NUMBER_FUNCTION
	string
	default "determine_arch_number"

config APEX_VMA
	hex "APEX Runtime Address"
	default "0xc0200000"

config KERNEL_LMA
	hex "Kernel Load Address"
	default "0xc0008000"

config SDRAM_BANK0
	bool "Enable SDRAM Bank 0"
	default y

config SDRAM_BANK1
	bool "Enable SDRAM Bank 1"
	depends on SDRAM_BANK0
	default n 

config SDRAM_CONTIGUOUS
	bool "Initialize SDRAM to be contiguous"
	depends on SDRAM_BANK0
	default n
	help
	  This option initializes the SDRAM controller to map each
	  SDRAM into a contiguous bank, SROMLL.  Normally, SDRAM is
	  sparse in the address space.  Linux does not need this
	  option, but Windows/CE does.  Do not set this option unless
	  you know what you are doing.

endmenu

menu "Platform Drivers"

config CLCDC
	bool "Color LCD"
	default n
	help
	  This driver initializes and tests the CLCD controller.

choice
	prompt "LCD Panel"
	depends on CLCDC
	default LCD_3_5_QVGA_20

config LCD_3_5_QVGA_20
	bool "LCD 3.5\" QVGA w/HRTFT IC"

config LCD_5_7_QVGA_10
	bool "LCD 5.7\" QVGA"

config LCD_6_4_VGA_10
	bool "LCD 6.4\" VGA"

config LCD_12_1_SVGA_10
	bool "LCD 12.1\" SVGA"
	
endchoice

config CODEC
	bool "Audio Codec"
	default n
	help
	  This driver includes commands to initialize and test the
	  AC97 link and associated codec.

endmenu

config MACH
	string
	default "lh7a40x"

config ARCH_LH7A400
	bool

config ARCH_LH7A404
	bool

config MACH_LPD7A40X
	bool

endif

