if ARCH_LH7952X

choice
	prompt "LH7952X Implementations"
	default MACH_LPD79524

config MACH_LPD79520
	bool "Logic Product Development LPD79520"
	select ARCH_LH79520
	select MACH_LPD7952X
	select USES_NOR_CFI
	select USES_COMPACTFLASH
	select USES_NOR_BOOTFLASH
	select USES_SMC91X
	select DRIVERS_LH

config MACH_LPD79524
	bool "Logic Product Development LPD79524"
	select ARCH_LH79524
	select MACH_LPD7952X
	select USES_NOR_CFI
	select USES_COMPACTFLASH
	select USES_NOR_BOOTFLASH
	select USES_NAND_BOOTFLASH
	select DRIVERS_LH
	select HAS_LH_ADC

config MACH_KEV79524
	bool "Sharp KEV79524"
	select ARCH_LH79524
	select USES_NOR_CFI
	select USES_NOR_BOOTFLASH
	select USES_NAND_BOOTFLASH
	select DRIVERS_LH
	select HAS_LH_ADC

config MACH_KEV79525
	bool "Sharp KEV79525"
	select ARCH_LH79525
	select USES_NOR_CFI
	select USES_NOR_BOOTFLASH
	select USES_NAND_BOOTFLASH
	select DRIVERS_LH
	select HAS_LH_ADC

endchoice

menu "Platform Setup"

config ATAG_PHYS
	hex "Physical address for ATAGs list"
	default "0x20000100"
	depends on ATAG
	help
	  This is the address where APEX will construct the ATAG list
	  before starting the Linux kernel.  This address should be
	  within the first 16KiB of physical RAM.  Don't change this
	  value unless you know what you are doing. 

config ARCH_NUMBER
	int
	default 537 if MACH_LPD79520
	default 609 if MACH_LPD79524
	default 609 if MACH_KEV79524

config APEX_VMA
	hex "APEX runtime address"
	default "0x20200000"

config KERNEL_LMA
	hex "Kernel load address"
	default "0x20008000"

config SDRAM_BANK0
	bool "Enable SDRAM bank 0"
	default y

config SDRAM_BANK1
	bool "Enable SDRAM bank 1"
	depends on SDRAM_BANK0
	default y if MACH_KEV79524 

config NOR_BUSWIDTH
	int "Width of NOR flash bus"
	default "16"
	
config NOR_BANK0
	bool "Enable NOR flash bank 0"
	default y

config NOR_BANK0_START
	hex "Physical address of NOR flash bank 0"
	default "0x40000000" if ARCH_LH79520
	default "0x44000000" if ARCH_LH79524
	default "0x44000000" if ARCH_LH79525
	depends on NOR_BANK0

config NOR_BANK0_LENGTH
	hex "Size, in bytes, of NOR flash bank 0"
	default "0x00800000" if MACH_LPD7952X
	default "0x00400000" if MACH_KEV79524
	default "0x00400000" if MACH_KEV79525
	depends on NOR_BANK0

config NOR_BANK1
	bool "Enable NOR flash bank 1"
	depends on NOR_BANK0
	default n if MACH_LPD79520
	default y if MACH_LPD79524

config NOR_BANK1_START
	hex "Physical address of NOR flash bank 1"
	default "0x45000000"
	depends on NOR_BANK1

config NOR_BANK1_LENGTH
	hex "Size, in bytes, of NOR flash bank 1"
	default "0x00800000"
	depends on NOR_BANK1

config NAND_LPD
	bool "Enable LPD enhanced NAND flash access"
	depends on MACH_LPD79524
	default y if MACH_LPD79524
	help
	  This options enables a mode for accessing NAND flash that
	  makes it possible to read NAND flash, NOR flash, and
	  CompactFlash simultaneously.

config ENV_STARTUP
	string "Extra commands for startup"
	default "emac mac 00:08:ee:00:51:e1;" if MACH_KEV79524
	help
	  This string is added to the default startup command string.
	  This is generally not needed, but the facility is available
	  just in case.  One platforms, for example, sets the MAC
	  address of the Ethernet controller this way.

endmenu

menu "Platform Drivers"

config DRIVER_EMAC_LH79524
	bool "LH79524/5 EMAC"
	depends on ARCH_LH79524 || ARCH_LH79525
	select DRIVER_CPLD_SPI if MACH_LPD79524
	select USE_ETHERNET
	default y
	help
	  This driver initializes the built-in Ethernet MAC of the
	  Sharp lh79524/5. 

config CLCDC
	bool "Color LCD Test"
	depends on MACH_LPD79520 || MACH_LPD79524
	default n
	help
	  This driver initializes and tests the CLCD controller.

config CODEC
	bool "Audio Codec"
	depends on MACH_LPD79524
	default n
	help
	  This driver includes commands to initialize and test the
	  TI audio codec as well as the CPUs SSP module.  

	  You will not be able to use this code without first creating
	  PCM test data.  It's best to leave this option disabled.

config CODEC_LH79520
	bool "Audio Codec"
	depends on MACH_LPD79520
	default n
	help
	  This driver includes commands to initialize and test the
	  TI audio codec as well as the CPUs SSP module.

config DRIVER_CPLD_SPI
	bool "LPD7952x CPLD SPI devices"
	depends on MACH_LPD79520 || MACH_LPD79524
	default n
	help
	  This driver implemets EEPROM SPI driver for the LPD 7952x
	  Card Engines.

config ADS7843
	bool "ADS7843 touchscreen test"
	depends on MACH_LPD79520
	default n
	help
	  This options implements a test routing for the ADS7843
	  touchscreen controller. 

endmenu

config MACH
	string
	default "lh7952x"

config ARCH_LH79520
	bool
	select CPU_ARMV4
	select CPU_ARM720T

config ARCH_LH79524
	bool
	select CPU_ARMV4
	select CPU_ARM720T

config ARCH_LH79525
	bool
	select CPU_ARMV4
	select CPU_ARM720T

config MACH_LPD7952X
	bool

endif
